// ...
/*BS*/import { BookStoreService } from '../../shared/book-store.service';
import { Book } from '../../shared/book';/*BE*/

@Component({ /* ... */ })
export class BookCreateComponent {

  constructor(/*BS*/
    private service: BookStoreService,
    private router: Router/*BE*/
  ) { }

  /*BS*/create(book: Book) {
    this.service.create(book).subscribe(createdBook => {
      this.router.navigate(['/books', createdBook.isbn]);
    });
  }/*BE*/
}
