import {
  // ...
  /*BS*/ViewChild,
  ElementRef/*BE*/
} from '@angular/core';
/*BS*/import { NgForm } from '@angular/forms';/*BE*/

@Component({ /* ...*/ })
export class BookFormComponent {
  // ...
  /*BS*/@ViewChild('form') form: NgForm;/*BE*/

  constructor() {}

  submitForm() {
    // ...
    /*BS*/this.form.reset();/*BE*/
  }
}
