<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/books" routerLinkActive="active">Books</a>
  <!--BS--><a routerLink="/admin" routerLinkActive="active">Administration</a><!--BE-->
  <!-- ... -->
</nav>
<!-- ... -->

