// ...
/*BS*/import { BookFormComponent } from './book-form/book-form.component';
import { BookCreateComponent } from './book-create/book-create.component';/*BE*/

@NgModule({
  declarations: [/*BS*/
    BookFormComponent,
    BookCreateComponent/*BE*/
  ],
  // ...
})
export class AdminModule { }
