// ...
/*BS*/import { BookCreateComponent } from './book-create/book-create.component';/*BE*/

const routes: Routes = [/*BS*/
  {
    path: 'admin',
    redirectTo: 'admin/create'
  },
  {
    path: 'admin/create',
    component: BookCreateComponent,
  }/*BE*/
];

@NgModule({ /* ... */ })
export class AdminRoutingModule { }
